.banner-block {
    background: url(../../assets/images//bmw_banner.webp) center/cover;
    height: 100vh;
}

h1 {
    font-size: 100px;
    text-shadow: 3px 3px 15px gray;
}

button {
    width: 200px;
}